<div class="container-fluid p-0 m-0">
    <div class="row d-flex flex-column text-center justify-content-center align-items-center m-0" style=" z-index: 3;">
        <div class="col d-flex flex-column text-center justify-content-center align-items-center m-0 p-0">
            <div class="conteudo">
                <div class="mb-3" style="width: 100%;">
                    <label for="formGroupExampleInput" class="form-label title-label">Insira seu ID</label>
                    <div class="d-flex flex-row justify-content-between" style="padding-left: 30%;padding-right: 30%;">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="001" style="width: 20%;">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="D14" style="width: 20%;">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="013" style="width: 20%;">
                    </div>
                </div>
                <div class="mt-4 mb-3">
                    <button class="btn btn-danger me-5 mt-2" type="submit"  routerLink="/totem-pages" routerLinkActive="active" ariaCurrentWhenActive="page">Cancelar</button>
                    <button class="btn btn-success ms-5 mt-2" type="submit" (click)="validaLogin()">Prosseguir</button>
                </div>
                <div class="mt-2">
                    <span class="coment-rodape">* Caso você não saiba ou não possua um ID, acesse nosso app:</span>
                </div>
                <div>
                    <img class="img-fluid mt-3" src="../../assets/qrcode.png" style="width: 13%;">
                </div>
            </div>
        </div>
        <div class="logo">
        <img class="img-fluid" src="../../assets/logo-principal.png" style="width: 100px; z-index: 3;">
        </div>
    </div>
    <div class="leaf1">
    <img class="img-fluid" src="../../assets/leafs.png">
    </div>
    <div class="leaf2">
        <img class="img-fluid" src="../../assets/leafs2.png">
    </div>
    <div class="leaf3">
        <img class="img-fluid" src="../../assets/leafs3.png">
    </div>
    <div class="leaf4">
        <img class="img-fluid" src="../../assets/leafs4.png">
    </div>
</div>
