<div class="container-fluid p-0 m-0" routerLink="/totem-id" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="row d-flex flex-column m-0 text-center justify-content-center align-items-center" style=" z-index: 3;">
        <div class="col">
        <img class="img-fluid" src="../../assets/logo-principal.png" style="width: 200px; z-index: 3;">
        </div>
        <div class="col d-flex flex-column text-center justify-content-center align-items-center" style=" z-index: 3;">
        <img class="img-fluid" src="../../assets/logo-centro.png" style="width: 200px; z-index: 3;">
        </div>
        <div class="col d-flex flex-column text-center justify-content-center align-items-center mb-5">
            <h2 style="color: #85C26C; z-index: 3;" class="mb-5">Clique na tela para iniciar!</h2>
        </div>
    </div>
    <div class="leaf1">
    <img class="img-fluid" src="../../assets/leafs.png">
    </div>
    <div class="leaf2">
        <img class="img-fluid" src="../../assets/leafs2.png">
    </div>
    <div class="leaf3">
        <img class="img-fluid" src="../../assets/leafs3.png">
    </div>
    <div class="leaf4">
        <img class="img-fluid" src="../../assets/leafs4.png">
    </div>
</div>
