.container-fluid {
    width: 100%;
    height: 100vh;
    background: rgb(211, 233, 220);
    cursor: pointer;
}


.row {
    width: 100%;
    height: 100vh;
}

.leaf1 , .leaf2, .leaf3, .leaf4 {
    width: 200px;
    position: fixed;
    z-index: 999;
}

.leaf1 {
    bottom: 0;
    left: 0;
}

.leaf2 {
    bottom: 0;
    right: 0;
}

.leaf3 {
    top: 0;
    left: 0;
}

.leaf4 {
    top: 0;
    right: 0;
}

.bottle , .bottle2, .bottle3, .bottle4 {
    width: 200px;
    position: fixed;
}

.bottle {
    bottom: 5%;
    left: 20%;
}

.bottle2 {
    bottom: 35%;
    right: 7%;
}

.bottle3 {
    top: 30%;
    left: 10%;
}

.bottle4 {
    top: 0;
    right: 21%;
}