<div class="container-fluid text-center m-0 p-0">
    <div class="chat-box">
        <fa-icon [icon]="faComments" class="ms-2 mb-2 fa-xl" id="chat-icon"></fa-icon>
    </div>
    <div class="row d-flex">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid d-flex justify-content-between container-nav">
                <div class="ms-5">
                    <a class="navbar-brand" href="#">
                        <img class="img-fluid" src="../../assets/logo.png" style="width: 150px;">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item me-5">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item me-5">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown me-5">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button id="search-top" class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </div>
              </nav>        
    </div>

    <div class="row d-flex flex-row corpo mb-2" style="width: 100%; height: 600px;">
            <div class="col d-flex flex-column justify-content-center  align-items-center mt-5">
                <div class="row d-flex flex-column justify-content-center  align-items-center">
                    <div class="col">
                        <h3 class="mb-2"> Titulo 1</h3>
                        <span class="mt-2"> Lorem ipsum dolor sit amet maiores labore!</span>
                    </div>
                    <div class="col mt-4">
                        <button class="btn btn-success me-4 mt-1" type="submit">Instituição</button>
                        <button class="btn btn-warning text-white mt-1" type="submit" routerLink="/login-colaborador" routerLinkActive="active" ariaCurrentWhenActive="page">Colaborador</button>
                    </div>
                </div>
            </div>
            <div class="col mt-5" id="div-ext" style="width: 100%; height: 600px;">
                <video style="width: 100%; height: 500px;" class="" autoplay muted>
                    <source src="../../assets/menuHome.mp4" type="video/mp4" style="width: 100%; height: 600px;">
                </video>
            </div>
    </div>
    
    <div class="row corpo1 d-flex flex-column">
        <div class="col-12">
            <div class="titulo2 text-white mt-4 mb-2 text-center">
                <h1 class=" text-center">Titulo texto 2</h1>
                <span class=" text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
                <div class="row d-flex flex-row mt-5 justify-content-center mb-1" style="height: fit-content !important;">
                    <div class="col-3" style="margin-left: 20px;">
                        <div class="card-ex me-5 card-ex-ativo" id="card-ex1"  style="width: 85%;height: 22em;" (click)="bloco1()">
                            <div class="card card-inter card-inter-ativo" id="card-inter1 text-center" style="width: 100%;height: 98%;">
                                <div class="card-body text-white mt-5 text-center" style="width: 100%;height: 100%;">
                                <h5 class="card-title mb-3 text-white text-center" style="width: 100%;height: 10%;">Success card title</h5>
                                <p class="card-text text-center" style="width: 100%;height: 80%; background: transparent !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card-ex me-5 ms-5" id="card-ex2"  style="width: 85%;height: 22em;" (click)="bloco2()">
                            <div class="card card-inter" id="card-inter2" style="width: 100%;height: 98%;">
                                <div class="card-body text-white mt-5" style="width: 100%;height: 100%;">
                                <h5 class="card-title mb-3 text-white text-center" style="width: 100%;height: 10%;">Success card title</h5>
                                <p class="card-text text-center" style="width: 100%;height: 80%; background: transparent !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="margin-left: 20px;">
                        <div class="card-ex ms-5" id="card-ex3"  style="width: 85%;height: 22em;" (click)="bloco3()">
                            <div class="card card-inter" id="card-inter3 text-center" style="width: 100%;height: 98%;">
                                <div class="card-body text-white mt-5" style="width: 100%;height: 100%;">
                                <h5 class="card-title mb-3 text-white text-center" style="width: 100%;height: 10%;">Success card title</h5>
                                <p class="card-text text-center" style="width: 100%;height: 80%; background: transparent !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-center mt-4">
                    <div class="col-12 d-flex flex-row justify-content-center">
                        <div class="card-int me-5 d-flex flex-row justify-content-center" style="width: 1060px;height: 25em;margin-left: 70px;">
                            <div id="bloco-imagem">
                                <img class="img-fluid imagem-card" [src]="imagemSrc" style="height: 100%;" alt="...">
                            </div>
                            <div class="card-body mt-5 d-flex flex-column justify-content-center text-center">
                            <h1 class="card-title mb-3 fonte-editor text-center text-center">Success card title</h1>
                            <p class="card-text fonte-editor2 text-center">Some quick example text to build on the card title and 
                                <br>
                                make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    <div class="row corpo2 d-flex flex-row justify-content-center p-5">
        <div class="d-flex flex-row justify-content-center" style="height: fit-content;">
            <div class="cardmod me-5">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Saúde e bem-estar <fa-icon [icon]="faHeartPulse" class="ms-2 mb-2"></fa-icon></p>
                </div>
                <div class="card-back text-center">
                    <p class=" text-center">Assegurar uma vida saudável e promover o bem-estar para todos, em todas as idades.</p>
                </div>
                </div>
            </div>
            <div class="cardmod me-5 text-center">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Trabalho decente e crescimento econômico <fa-icon [icon]="faChartLine" class="ms-2 mb-2"></fa-icon></p>
                    
                </div>
                <div class="card-back">
                    <p>Promover o crescimento econômico sustentado, inclusivo e sustentável, o emprego pleno e produtivo e o trabalho decente para todos.</p>
                </div>
                </div>
            </div>
            <div class="cardmod text-center">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Indústria, inovação e infraestrutura <fa-icon [icon]="faBoxesStacked" class="ms-2 mb-2"></fa-icon></p>
                </div>
                <div class="card-back text-center">
                    <p>Construir infraestruturas resilientes, promover a industrialização inclusiva e sustentável e fomentar a inovação.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center mt-5 text-center" style="height: fit-content;">
            <div class="cardmod me-5 text-center">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Cidades e comunidades sustentáveis <fa-icon [icon]="faCity" class="ms-2 mb-2"></fa-icon></p>
                </div>
                <div class="card-back text-center">
                    <p class=" text-center">Tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis.</p>
                </div>
                </div>
            </div>
            <div class="cardmod me-5 text-center">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Consumo e produção responsáveis <fa-icon [icon]="faArrowsRotate" class="ms-2 mb-2"></fa-icon></p>
                </div>
                <div class="card-back text-center">
                    <p class=" text-center">Assegurar padrões sustentáveis de produção e consumo.</p>
                </div>
                </div>
            </div>
            <div class="cardmod text-center">
                <div class="card-inner text-center">
                <div class="card-front text-center">
                    <p class=" text-center">Ação contra a mudança global do clima <fa-icon [icon]="faEarthAmericas" class="ms-2 mb-2"></fa-icon></p>
                </div>
                <div class="card-back text-center">
                    <p class=" text-center">Tomar medidas urgentes para combater a mudança do clima e seus impactos.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row corpo3 d-flex flex-row justify-content-center p-5 text-center">
        <div class="corpo4 d-flex flex-row justify-content-around text-center">
            <div class="text-white texto4 text-center">
                <h1 class=" text-center">
                    Titulo texto 3?
                </h1>
                <p class=" text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="d-flex flex-row box-busca">
                <input class="me-2 busca text-white" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-busca" type="submit">Search</button>
            </div>
        </div>
        <div class="col-3 mt-3 ps-5">
            <img class="img-fluid ms-5" src="../../assets/logo.png" style="width: 200px;">
        </div>
        <div class="col-3 mt-3 text-start text-center">
            <h3 class="text-white text-center">Institucional</h3>
            <ul class="list-group text-center">
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Totem App
                    </p>
                    <p class="text-white small text-center">
                        Faculdade de Engenharia de Sorocaba
                    </p>
                    <p class="text-white small text-center">
                        Tecnologia em Análise e Desenvolvimento de Sistemas
                    </p>
                    <p class="text-white small text-center">
                        UPX - Usina de Projetos Experimentais IV
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-2 mt-3 text-start text-center">
            <h3 class="text-white text-center">Produtos</h3>
            <ul class="list-group text-start text-center">
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-3 mt-3 text-start text-center">
            <h3 class="text-white text-center">Fale Conosco</h3>
            <ul class="list-group text-start text-center">
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
                <li class="list-group-item text-start text-center">
                    <p class="text-white small text-center">
                        Lorem ipsum dolor.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-3 text-center">
            <h4 class="text-white mb-2 text-center"> Redes Sociais</h4>
            <div class="d-flex flex-row justify-content-between">
                <a href="#">
                    <img class="img-fluid" src="../../assets/facebook.png" style="width: 30px;">
                </a>
                <a href="#">
                    <img class="img-fluid" src="../../assets/instagram.png" style="width: 30px;">
                </a>
                <a href="#">    
                    <img class="img-fluid" src="../../assets/linkedin.png" style="width: 30px;">
                </a>
                <a href="#">    
                <img class="img-fluid" src="../../assets/youtube.png" style="width: 30px;">
                </a>
            </div>
        </div>
    </div>
</div>