<div class="container-fluid p-0 m-0" routerLink="/totem-fim" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="row d-flex flex-column m-0 text-center justify-content-center align-items-center" style=" z-index: 3;">
        <div class="col">
        </div>
    </div>
    <div class="leaf1">
    <img class="img-fluid" src="../../assets/leafs.png">
    </div>
    <div class="leaf2">
        <img class="img-fluid" src="../../assets/leafs2.png">
    </div>
    <div class="leaf3">
        <img class="img-fluid" src="../../assets/leafs3.png">
    </div>
    <div class="leaf4">
        <img class="img-fluid" src="../../assets/leafs4.png">
    </div>

    <div class="bottle">
        <img class="img-fluid" src="../../assets/garrafa-fundo.png">
    </div>
    <div class="bottle2">
        <img class="img-fluid" src="../../assets/garrafa-fundo2.png">
    </div>
    <div class="bottle3">
        <img class="img-fluid" src="../../assets/garrafa-fundo3.png">
    </div>
    <div class="bottle4">
        <img class="img-fluid" src="../../assets/garrafa-fundo4.png">
    </div>
</div>
